.home {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: 300% 300%;
   background-image: linear-gradient(
      -45deg,
      rgba(59, 173, 227, 1) 0%,
      rgba(87, 111, 230, 1) 25%,
      rgba(152, 68, 183, 1) 51%,
      rgba(255, 53, 127, 1) 100%
   );

   animation: AnimateBG 10s ease infinite;

   .container {
      display: flex;
      width: 80%;
      height: 90vh;
      min-width: 700px;
      background-color: var(--borderColor);
      border-radius: 20px;
      padding: 10px;

      .sidebar {
         flex: 2;
         max-width: 350px;
         border-right: 2px solid var(--borderColor);
         // overflow: auto;
      }

      .chat {
         flex: 4;
      }
   }
}

@keyframes AnimateBG {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}
