/* тут должен быть сброс стилей */
body {
   -webkit-font-smoothing: antialiased;
   font-smooth: antialiased;
   margin: 0;
   font-family: 'Oswald', sans-serif;
}
hr {
   margin: 0;
   border-top: 1px solid rgb(196, 196, 196);
   border-bottom: none;
}

a {
   text-decoration: none;
   color: inherit;
}
/* Utilities */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body,
main,
img {
   margin: 0;
   display: block;
   max-width: 100%;
   height: auto;
}

ul {
   padding: 0;
   margin: 0;
   list-style: none;
}
::-webkit-scrollbar {
   width: 5px;
   margin-right: 3px;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: var(--highlightColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--textBlackColor);
}
